{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>About Umar bn l Khattob Centre for Qur'anic and Arabic Studies</title>
  <meta name="description" content="We are open for admission into ARABIYYAH, PRE-NURSERY, NURSERY, and PRIMARY.
  We teach with fun and excitement. We provide ultimate Arabic and English Learning Environment">

{% endblock title %}

{% block content %}
<section class="py-0 bg-primary">
  <div class="col-md-12">
    <br>
    <h3 class="p1"><strong><span class="text-warning">INVEST IN YOUR CHILDREN'S FUTURE</span></strong></h3>
    <div class="text-white">
      <p class="text-justify lead">
        Admission is opened into ARABIYYAH, PRE-NURSERY, NURSERY, and PRIMARY sections. At Umar bn l
        Khattob Centre for Qur'anic and Arabic Studies, we teach with fun and excitement. We provide ultimate
        Arabic and English Learning Environment. Contact us now to register, seats are limited!
      </p>
      <p class="text-justify lead">
        For more information about us and how to obtain forms to enrol your wards, kindly reach out to:
        <ul>
          <li class="text-warning"><strong>MALE:</strong></li> 08169176233, 08076067930
          <li class="text-warning"><strong>FEMALE:</strong></li> 07060796045, 08169383031
        </ul>
      </p>

    </div>
  </div>
  <br>
</section>
{% endblock content %}
