{% load static %}
<footer class="mt-1 bg-primary text-white text-center">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <br>
      <h4><strong>Quick Links</strong></h4>
      <p class="lead"><a href="{% url 'index' %}"><span class="text-warning">Home</span></a> </p>
      <p class="lead"><a href="{% url 'admission' %}"><span class="text-warning">Admission</span></a> </p>
      <p class="lead"><a href="{% url 'audios' %}"><span class="text-warning">Audios</span></a></p>
      <p class="lead"><a href="{% url 'videos' %}"><span class="text-warning">Videos</span></a></p>
      <p class="lead"><a href="{% url 'events' %}"><span class="text-warning">News and Events</span></a></p>
      <p class="lead"><a href=""><span class="text-warning">About Us</span></a></p>
      <p class="lead"><a href="{% url 'contact'%}"><span class="text-warning">Contact Us</span></a></p>
    </div>
    <div class="col-md-1">

    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <i class="fa fa-university fa-2x text-warning"></i> <strong class="lead">Abaa Area, Suurulere North L.G.A., Ogbomosho, Oyo State.</strong>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <br>
  <strong class="lead">Copyright &copy; <span class="year"></span> UMAR BN L KHATTOB CENTRE FOR QUR'ANIC AND ARABIC STUDIES</strong>
</footer>
