{% load static %}
<nav class="p-0 navbar navbar-expand-lg navbar-dark bg-light_blue sticky-top">
  <a class="ml-2 navbar-brand" href="{% url 'index' %}">
    <img src="{% static 'img/logo.jpg' %}" width="50" height="80" class="logo" alt="Umar Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <li
        {% if '/' == request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'index' %}"><strong>Home</strong></a>
      </li>
      <li
        {% if 'admission' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'admission' %}"><strong>Admission</strong></a>
      </li>
      <li
        {% if 'audios' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'audios' %}"><strong>Audios</strong></a>
      </li>
      <li
        {% if 'videos' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'videos' %}"><strong>Videos</strong></a>
      </li>
      <li
        {% if 'news-and-events' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'events' %}"><strong>News and Events</strong></a>
      </li>
      <li
        {% if 'about' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'about' %}"><strong>About</strong></a>
      </li>
      <li
        {% if 'contact' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'contact' %}"><strong>Contact</strong></a>
      </li>

      {% if user.is_authenticated %}
      <li
        {% if 'staff' in request.path %}
          class="nav-item active dropdown mr-3"
        {% else %}
          class="nav-item dropdown mr-3"
        {% endif %}
      >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Staff's Portal</strong></a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#"><strong>Senior Secondary الثانوي</strong></a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'secondary_firsts' %}"><strong>First Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Second Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Third Term</strong></a>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#"><strong>Arabiyyah</strong></a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href=""><strong>First Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Second Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Third Term</strong></a>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#"><strong>Basic</strong></a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href=""><strong>First Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Second Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Third Term</strong></a>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#"><strong>Pre-Basic</strong></a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href=""><strong>First Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Second Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Third Term</strong></a>
            </ul>
          </li>
        </ul>
      </li>

      <li
        {% if 'parents' in request.path %}
          class="nav-item active dropdown mr-3"
        {% else %}
          class="nav-item dropdown mr-3"
        {% endif %}
      >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Parents' Portal</strong></a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#"><strong>Senior Secondary الثانوي</strong></a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href=""><strong>First Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Second Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Third Term</strong></a>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#"><strong>Arabiyyah</strong></a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href=""><strong>First Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Second Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Third Term</strong></a>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#"><strong>Basic</strong></a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href=""><strong>First Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Second Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Third Term</strong></a>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#"><strong>Pre-Basic</strong></a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href=""><strong>First Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Second Term</strong></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><strong>Third Term</strong></a>
            </ul>
          </li>
        </ul>
      </li>
      {% else %}
      <li
        {% if 'login' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'login' %}">
          <i class="fas fa-key"></i> <strong>Staff/Parents' Login</strong></a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li
      >
        <a class="nav-link" href=""><strong><span class="text-white"><i class="fas fa-user-tie fa-1x"></i> {{user.first_name}}</span></strong></a>
      </li>
      <li
        {% if 'edit-profile' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'edit_profile' %}"><strong><i class="fas fa-edit fa-1x"></i> Edit Profile</strong></a>
      </li>
      <li
        {% if 'logout' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <button class="btn btn-outline-primary btn-sm"><a class="nav-link" href="{% url 'logout' %}">
          <i class="fas fa-sign-out-alt text-primary"></i> <strong class="text-primary">Logout</strong></a></button>
      </li>
    {% else %}
      <li
        {% if 'account' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
    {% endif %}
    </ul>

  </div>
</nav>
