{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  <title>Pupil's Report</title>
  <style type="text/css">
  @media print {
      #printbtn {
          display :  none;
      }
  }
  </style>
{% endblock title %}

{% block content %}
{% for each in third %}
{% if each.pupil.user == request.user and each.school_fees == True %}
<form class="text-center">
  <input id ="printbtn" type="button" class="btn btn-primary" value="Click to show print preview" onclick="window.print();" >
</form> <br>
<div class="text-center">
  <div class="card bg-white text-dark form-group col-md-12 ml-1">
    <div class="row">
      <div class="col-md-2">
        <h5 class="text-right"><img src="{% static 'img/logo.png' %}" alt="Al-itqan Logo" class="logo2"></h5>
      </div>
      <div class="col-md-8">
        <h2 class="text-center text-primary"><font size="+3"><strong>مدارس الإتقان النموذجية</strong></font></h2>
        <h2 class="text-center text-primary p1 lh2"><strong>AL-ITQĀN MODEL ACADEMY</strong></h2>
        <p class="text-center text-primary lh3">7, Balogun Close, off Ilesanmi Bus Stop, University of Ilorin Permanent Site (PS) Road Tanke Ilorin, Kwara State.</p>
        <p class="text-center text-primary lh"><strong class="text-primary">Phone No.:</strong> +234(0)9098374769, <strong class="text-primary">Email:</strong> info@alitqan.sch.ng</p>
      </div>
      <div class="col-md-1 mt-4">
        {% if each.pupil.photograph %}
          <h5 class="text-left"><img src="{{ each.pupil.photograph.url }}" alt="Pupil's Photograph" class="logo3"></h5>
        {% endif %}
      </div>
      <div class="col-md-1">

      </div>
    </div>

    <h2 class="text-center text-primary p1"><strong>REPORT SHEET</strong></h2>
    <div class="row">
      <div class="col-md-5">
        <h5 class="text-primary text-left"><strong>NAME: <span class="text-warning">{{each.pupil.user.first_name}} {{each.pupil.user.last_name}}</span> </strong></h5>
        <h5 class="text-primary text-left"><strong>ADMISSION NO: <span class="text-warning">{{each.pupil.user}}</span></strong></h5>
        <h5 class="text-primary text-left"><strong>GENDER: <span class="text-warning">{{each.pupil.gender}}</span></strong></h5>
      </div>
      <div class="col-md-3">
        <h5 class="text-primary text-left"><strong>TERM: <span class="text-warning">THIRD</span></strong></h5>
        <h5 class="text-primary text-left"><strong>SESSION: <span class="text-warning">{{each.session}}</span></strong></h5>
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-3">
        <h5 class="text-primary text-left"><strong>AGE: <span class="text-warning">{{each.pupil.age}} years</span> </strong></h5>
        <h5 class="text-primary text-left"><strong>CLASS: <span class="text-warning">{{each.pupil.classe}}</span></strong></h5>
        <h5 class="text-primary text-left"><strong>NUMBER IN CLASS: <span class="text-warning">{{class_pupils_count}}</span></strong></h5>
      </div>
    </div>
    <hr class="bg-primary lh">
    <h5 class="text-center text-primary lh"><strong>COGNITIVE ABILITY</strong></h5>
    <hr class="bg-primary lh">
    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <thead class="thead-light">
              <tr>
                <th class="text-center text-primary"><strong>S/N</strong></th>
                <th class="text-center text-primary"><strong>SUBJECTS</strong></th>
                <th class="text-center text-primary">1st CA<br>(20%)</th>
                <th class="text-center text-primary">2nd CA<br>(20%)</th>
                <th class="text-center text-primary">EXAM<br>(60%)</th>
                <th class="text-center text-primary">TOTAL<br>(100%)</th>
                <th class="text-center text-primary">CLASS<br>AVERAGE</th>
                <th class="text-center text-primary">SUBJECT<br>POSITION</th>
                <th class="text-center text-primary">GRADE</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light">
                <td class="text-warning">١</td>
                <td class="text-warning"><strong>القرآن</strong></td>
                <td class="text-warning text-center"><strong>{{each.quran_ca1}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.quran_ca2}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.quran_exam}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.quran_tot}}</strong></td>
                <td class="text-warning text-center"><strong>{{quran_avg}}</strong></td>
                <td class="text-warning text-center"><strong>{{quran_pos}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.grade_quran}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-warning">٢</td>
                <td height="0.1px" class="text-warning"><strong>العربية</strong></td>
                <td class="text-warning text-center"><strong>{{each.arabiyyah_ca1}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.arabiyyah_ca2}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.arabiyyah_exam}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.arabiyyah_tot}}</strong></td>
                <td class="text-warning text-center"><strong>{{arabiyyah_avg}}</strong></td>
                <td class="text-warning text-center"><strong>{{arabiyyah_pos}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.grade_arabiyyah}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-warning">٣</td>
                <td class="text-warning"><strong>التوحيد</strong></td>
                <td class="text-warning text-center"><strong>{{each.tawheed_ca1}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.tawheed_ca2}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.tawheed_exam}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.tawheed_tot}}</strong></td>
                <td class="text-warning text-center"><strong>{{tawheed_avg}}</strong></td>
                <td class="text-warning text-center"><strong>{{tawheed_pos}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.grade_tawheed}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-warning">٤</td>
                <td class="text-warning"><strong>القراءة</strong></td>
                <td class="text-warning text-center"><strong>{{each.qirooah_ca1}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.qirooah_ca2}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.qirooah_exam}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.qirooah_tot}}</strong></td>
                <td class="text-warning text-center"><strong>{{qirooah_avg}}</strong></td>
                <td class="text-warning text-center"><strong>{{qirooah_pos}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.grade_qirooah}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-warning">٥</td>
                <td class="text-warning"><strong>الحديث</strong></td>
                <td class="text-warning text-center"><strong>{{each.hadeeth_ca1}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.hadeeth_ca2}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.hadeeth_exam}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.hadeeth_tot}}</strong></td>
                <td class="text-warning text-center"><strong>{{hadeeth_avg}}</strong></td>
                <td class="text-warning text-center"><strong>{{hadeeth_pos}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.grade_hadeeth}}</strong></td>
              </tr><tr class="table-light">
                <td class="text-warning">٦</td>
                <td class="text-warning"><strong>المتون</strong></td>
                <td class="text-warning text-center"><strong>{{each.mutuun_ca1}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.mutuun_ca2}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.mutuun_exam}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.mutuun_tot}}</strong></td>
                <td class="text-warning text-center"><strong>{{mutuun_avg}}</strong></td>
                <td class="text-warning text-center"><strong>{{mutuun_pos}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.grade_mutuun}}</strong></td>
              </tr><tr class="table-light">
                <td class="text-warning">٧</td>
                <td class="text-warning"><strong>الفقه</strong></td>
                <td class="text-warning text-center"><strong>{{each.fiqh_ca1}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.fiqh_ca2}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.fiqh_exam}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.fiqh_tot}}</strong></td>
                <td class="text-warning text-center"><strong>{{fiqh_avg}}</strong></td>
                <td class="text-warning text-center"><strong>{{fiqh_pos}}</strong></td>
                <td class="text-warning text-center"><strong>{{each.grade_fiqh}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3 mt-5">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <thead class="thead-light">
              <tr>
                <th class="text-center text-primary"><strong>SUMMARY</strong></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light">
                <td class="text-warning"><strong>No of Times School Opens</strong></td>
                <td class="text-warning text-center"><strong>{{each.session.number}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-warning"><strong>No of Days Present</strong></td>
                <td class="text-warning text-center"><strong>{{each.number_present}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-warning"><strong>Total Marks Obtainable</strong></td>
                <td class="text-warning text-center"><strong>{{700}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-warning"><strong>Total Marks Obtained</strong></td>
                <td class="text-warning text-center"><strong>{{each.cumulative}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-sm table-bordered">
        <tr class="table-light">
          <td class="text-primary"><h3><strong>GENERAL REMARK</strong></h3></td>
          <td class="text-center text-primary"><h3 class="p2"><strong><i>{{each.grade_general}}</i></strong></h3></td>
          <td class="text-right text-primary"><h4><strong>PERCENTAGE SCORE: {{each.cum_perc}}%</strong></h4></td>
        </tr>
      </table>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <tr class="table-light">
              <td class="text-primary text-center"><h6 class="p3">ATTITUDE TO STUDY</h6></td>
              <td class="text-primary text-center"><h6 class="p3">REMARK</h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning"><h6><strong>CONCENTRATION</strong></h6></td>
              <td class="text-warning"><h6><i>{{each.concentration}}</i></h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning"><h6><strong>RESPONSIVENESS</strong></h6></td>
              <td class="text-warning"><h6><i>{{each.responsiveness}}</i></h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning"><h6><strong>COMPREHENSION</strong></h6></td>
              <td class="text-warning"><h6><i>{{each.comprehension}}</i></h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning"><h6><strong>INTEREST IN LEARNING</strong></h6></td>
              <td class="text-warning"><h6><i>{{each.interest}}</i></h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning"><h6><strong>HOMEWORK COMPLETION</strong></h6></td>
              <td class="text-warning"><h6><i>{{each.homework}}</i></h6></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <tr class="table-light">
              <td colspan="3" class="text-primary text-center"><h6 class="p3">KEY TO GRADE</h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-primary text-center"><h6>SCORE</h6></td>
              <td class="text-primary text-center"><h6>GRADE</h6></td>
              <td class="text-primary text-center"><h6>REMARK</h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning text-center"><h6><strong>85-100</strong></h6></td>
              <td class="text-center text-warning"><h6 class="p3">A</h6></td>
              <td><h6 class="text-warning p3">Excellent</h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning text-center"><h6><strong>70-84</strong></h6></td>
              <td class="text-center text-warning"><h6 class="p3">B</h6></td>
              <td><h6 class="text-warning p3">Very Good</h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning text-center"><h6><strong>60-69</strong></h6></td>
              <td class="text-center text-warning"><h6 class="p3">C</h6></td>
              <td><h6 class="text-warning p3">Good</h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning text-center"><h6><strong>50-59</strong></h6></td>
              <td class="text-center text-warning"><h6 class="p3">D</h6></td>
              <td><h6 class="text-warning p3">Average</h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning text-center"><h6><strong>0-49</strong></h6></td>
              <td class="text-center text-warning"><h6 class="p3">E</h6></td>
              <td><h6 class="text-warning p3">Poor</h6></td>
            </tr>
          </table>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <tr class="table-light">
              <td class="text-primary text-center"><h6 class="p3">SCHOLASTIC SKILLS</h6></td>
              <td class="text-primary text-center"><h6 class="p3">REMARK</h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning"><h6><strong>READING</strong></h6></td>
              <td class="text-warning"><h6><i>{{each.reading}}</i></h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning"><h6><strong>WRITING</strong></h6></td>
              <td class="text-warning"><h6><i>{{each.writing}}</i></h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning"><h6><strong>SPOKEN ENGLISH</strong></h6></td>
              <td class="text-warning"><h6><i>{{each.spoken}}</i></h6></td>
            </tr>
            <tr class="table-light">
              <td class="text-warning"><h6><strong>INNOVATIVE</strong></h6></td>
              <td class="text-warning"><h6><i>{{each.innovative}}</i></h6></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-md-6">
        <br>
        <br>
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <tr class="table-light">
              <td  class="text-primary text-center"><h6><strong>NEXT<br>TERM<br>BEGINS</strong></h6></td>
              <td  class="text-warning text-center"><h6><strong><br>{{each.session.next}}</strong></h6></td>

            </tr>


          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <strong> <p class="text-primary text-left">CLASS TEACHER'S COMMENT: <span class="text-warning"><i class="p3">{{each.teacher_comment}}</i></span> </p></strong>
      </div>
      <div class="col-md-2">
        <strong> <p class="text-primary text-left">NAME: <span class="text-warning">{{each.pupil.classe.teacher}}</span></p></strong>
      </div>
      <div class="col-md-2">
        <strong> <p class="text-primary text-right">SIGNATURE: </p></strong>
      </div>
      <div class="col-md-1">
        {% if each.pupil.classe.signature %}
          <sup><p class="text-left"><img src="{{each.pupil.classe.signature.url}}" alt="Class Teacher's Signature" class="sig"></p></sup>
        {% endif %}
      </div>
      <div class="col-md-1">

      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <strong> <p class="text-primary text-left">HEAD OF SCHOOL'S COMMENT: <span class="text-warning"><i class="p3">{{each.head_comment}}</i></span> </p></strong>
      </div>
      <div class="col-md-2">
        <strong> <p class="text-primary text-left">NAME: <span class="text-warning">{{each.session.head}}</span></p></strong>
      </div>
      <div class="col-md-2">
        <strong> <p class="text-primary text-right">STAMP & SIGNATURE: </p></strong>
      </div>
      <div class="col-md-1">
        {% if each.session.school %}
          <sup><p class="text-left"><img src="{{each.session.school.url}}" alt="Al-itqan stamp" class="sig2"></p></sup>
        {% endif %}
      </div>
      <div class="col-md-1">

      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
        <strong> <p class="text-primary text-right">DATE: </p></strong>
      </div>
      <div class="col-md-3">
        <p class="text-left text-warning"><strong>{{each.updated}}</strong></p>
      </div>

    </div>

  </div>
</div>
{% else %}
  <h2 class="text-center">Access Restricted!</h2>
  <br>
{% endif %}
{% endfor %}
{% endblock content%}
