{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Student's Details</title>
{% endblock title %}

{% block content %}
<br>

</br>
<div class="d-flex justify-content-center ">
  <div class="card card-block bg-primary text-white form-group col-md-8">
    <h2 class="form-group text-center text-warning">STUDENT'S DETAILS</h2>
    <div class="text-center">
      {% if student.photograph %}
        <img src="{{ student.photograph.url }}" alt="student's Photograph" class="logo2">
      {% endif %}
    </div>
    <h4 class="text-warning">ADMISSION NUMBER: <i class="text-white"> {{student.user.username}}</i></h4>
    <h4 class="text-warning">FIRST NAME: <i class="text-white"> {{student.user.first_name}}</i></h4>
    <h4 class="text-warning">LAST NAME: <i class="text-white"> {{student.user.last_name}}</i></h4>
    <h4 class="text-warning">EMAIL: <i class="text-white"> {{student.user.email}}</i></h4>
    <h4 class="text-warning">GENDER: <i class="text-white"> {{student.gender}}</i></h4>
    {% if student.age > 1 %}
    <h4 class="text-warning">AGE: <i class="text-white"> {{student.age}} years</i></h4>
    {% else %}
    <h4 class="text-warning">AGE: <i class="text-white"> {{student.age}} year</i></h4>
    {% endif %}
    <h4 class="text-warning">CLASS: <i class="text-white"> {{student.classe}}</i></h4>
    <h4 class="text-warning">CLASS TEACHER: <i class="text-white"> {{student.classe.teacher}}</i></h4>
    <h4 class="text-warning">PHONE NUMBER: <i class="text-white"> {{student.phone_number}}</i></h4>
    <h4 class="text-warning">ADDRESS: <i class="text-white"> {{student.address}}</i></h4>
    <h4 class="text-warning">DATE REGISTERED: <i class="text-white"> {{student.created}}</i></h4>
  </div>
</div>


  <br>

{% endblock content %}
