{% extends 'base.html' %}

{% block title %}
  <title>First Term Scores</title>
{% endblock title %}

{% block content %}
{% load home_tags %}

  <section>
    {% include 'partials/_alerts.html' %}

    <br>
    <div class="row text-center">
      {% if firsts_page_obj %}
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-primary">
                <tr>
                  <th>SESSION</th>
                  <th>CREATED</th>
                  <th>ADMISSION NUMBER & FULL NAME</th>
                  <th>CLASS</th>
                  <th>TOTAL SCORES</th>
                  <th>LAST UPDATED</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for first in firsts_page_obj %}
                <tr class="table-success">
                  <td>{{first.session}}</td>
                  <td>{{first.created}}</td>
                  <td><strong>{{first.pupil}}</strong></td>
                  <td>{{first.pupil.classe}}</td>
                  <td>{{first.cumulative}}</td>
                  <td>{{first.updated}}</td>
                  <td class="text-center"><a href="{% url 'show_first_user' first.id %}"><button type="button" class="btn btn-sm btn-primary text-warning"><strong>View Report</strong></button></a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                {% if firsts_page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="{% my_url firsts_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{firsts_page_obj.previous_page_number}}</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="{% my_url firsts_page_obj.number 'page' request.GET.urlencode %}">{{firsts_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                {% if firsts_page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="{% my_url firsts_page_obj.next_page_number 'page' request.GET.urlencode %}">{{firsts_page_obj.next_page_number}}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="{% my_url firsts_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
              </ul>
            </nav>
          </div>
        </div>
      {% else %}
      <div class="container">
        <h3>No pupil found!</h3>
      </div>

      {% endif %}
    </div>
  </section>



{% endblock content%}
