{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Update First Term Scores</title>
{% endblock title %}

{% block content %}
<br>
<div class="sidebar">
  <br>
  <br>
  <br>
  <br>
<a href="{% url 'students' %}"><i class="fas fa-users fa-1x"></i> Students</a>
<a href="{% url 'junior_firsts' %}"><strong class="text-orange"><i class="fas fa-tasks fa-1x"></i> Recorded Scores</strong></a>
<a href="{% url 'junior_first' %}"><i class="fas fa-plus-square fa-1x"></i> New Score</a>
</div>

  <section class="main">
    <div class="container">
      <div class="pull-right col-md-12">
        <div class="card text-primary">
          <br>
          {% include 'partials/_alerts.html' %}
          <form method="post" class="form-group col-md-12 text-orange">
            <div class="card-header bg-primary text-orange">
              <h4>
                <i class="fas fa-edit"></i> Update Scores</h4>
            </div>
            <br>
            {% csrf_token %}
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-sm-12 mb-2">
                <h3 class="text-primary">Select session and student</h3>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6 mb-2">
                  {{ form.session|as_crispy_field }}
              </div>
              <div class="form-group col-sm-6 mb-2">
                  {{ form.student|as_crispy_field }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12 mb-2">
                <h3 class="text-primary">Enter scores in CA and Exam</h3>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6 mb-2">
                    {{ form.quran_ca|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mb-2">
                    {{ form.quran_exam|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6 mb-2">
                  {{ form.tajweed_ca|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mb-2">
                  {{ form.tajweed_exam|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6 mb-2">
                  {{ form.mutoolaah_ca|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mb-2">
                  {{ form.mutoolaah_exam|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6 mb-2">
                  {{ form.arabiyyah_ca|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mb-2">
                  {{ form.arabiyyah_exam|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6 mb-2">
                  {{ form.nahw_ca|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mb-2">
                  {{ form.nahw_exam|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6 mb-2">
                  {{ form.tawheed_ca|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mb-2">
                  {{ form.tawheed_exam|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6 mb-2">
                  {{ form.fiqh_ca|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mb-2">
                  {{ form.fiqh_exam|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6 mb-2">
                  {{ form.seeroh_ca|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mb-2">
                  {{ form.seeroh_exam|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6 mb-2">
                  {{ form.hadeeth_ca|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mb-2">
                  {{ form.hadeeth_exam|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12 mb-2">
                  {{ form.teacher_comment|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12 mb-2">
                  {{ form.head_comment|as_crispy_field }}
                </div>
            </div>
            <input type="submit" class="form-group col-md-12 btn btn-orange" value="Update">
          </form>
        </div>
        <br>
      </div>
    </div>
  </section>


{% endblock content%}
