{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  <title>Change Password</title>
{% endblock title %}

{% block content %}
</br>
{% for audio in audios_home %}
<audio width="300" height="300" autoplay loop hidden>
  <source src="{% if audio.audio %}{{ audio.audio.url }}{% else %}{% static "img/no_video.jpeg" %}{% endif %}" type="audio/mp3" autostart="true" loop="true" hidden="true">
</audio>

{% endfor %}
  <div class="container">
    <div class="card">
      <br>
      {% include 'partials/_alerts.html' %}
      <form method="post" class="form-group col-md-12">
        <div class="card-header bg-primary text-warning">
          <h4>
            <i class="fas fa-key"></i> Change Password</h4>
        </div>
        <br>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="form-group col-md-12 btn btn-warning" value="Update">
      </form>
    </div>
  </div>
  <br>
{% endblock content%}
