{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
  <title>{{user.username}}</title>
{% endblock title %}

{% block content %}
{% load home_tags %}
  <br>
<div class="sidebar">
    <br>
    <br>
    <br>
    <br>
  <a href="{% url 'edit_profile' %}"><i></i>Edit Profile</a>
  <a href="{% url 'orders' %}"><i></i>Orders History</a>
  <a href="{% url 'tracks' %}"><i></i>Track Delivery</a>
  <a href="{% url 'products:fund' %}"><i class=""></i>Fund Wallet</a>
  <a href="{% url 'wallet_history' %}"><i class=""></i>Wallet History</a>
  <a href="{% url 'invoices' %}"><i class=""></i>Invoice</a>

</div>
  <section class="main">
    {% include 'partials/_alerts.html' %}
    <h2 class="text-center">Welcome to your dashboard, <span class="text-warning"><strong><i>{{user.first_name}}</i></strong></span>. Navigate through the dashboard using the left panel</h2>
    <br>
    <div class="row">
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-warning mb-3">
            <div class="card-header bg-primary">
              <h5 class="card-title text-light">New Orders</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{new}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-warning mb-3">
            <div class="card-header bg-primary">
              <h5 class="card-title text-light">Out for Delivery</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{pending}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-warning mb-3">
            <div class="card-header bg-primary">
              <h5 class="card-title text-light">Delivered</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{completed}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-warning mb-3">
            <div class="card-header bg-primary">
              <h5 class="card-title text-light">Previous Total Debits</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">₦{{total_debited|default_if_none:"---"|intcomma}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-warning mb-3">
            <div class="card-header bg-primary">
              <h5 class="card-title text-light">Last Wallet Transaction</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">₦{{last_tran|default_if_none:"---"|intcomma}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-warning mb-3">
            <div class="card-header bg-primary">
              <h5 class="card-title text-warning">Wallet Balance</h5>
            </div>
            <div class="card-body bg-primary">
              <h3 class="card-title">₦{{current_balance|default_if_none:"---"|intcomma}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content%}
