{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>Invoice Page</title>
  <style type="text/css">
  @media print {
      #printbtn {
          display : none;
      }
  }
  </style>
{% endblock title %}

{% block content %}
<br>
<form class="d-flex justify-content-center">
  <input id ="printbtn" type="button" class="btn btn-warning" value="Click to show print preview" onclick="window.print();" >
</form> <br>
<section>
    <div class="card bg-primary text-light form-group col-md-12">
      <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-2">
          <img src="{% static 'img/logo.png' %}" alt="BuildQwik Logo" width="50" height="150">
        </div>
        <div class="col-md-5">

        </div>
      </div>
      <h5 class="d-flex justify-content-center"> <strong>BUILDQWIK TECHNOLOGY LIMITED</strong>  </h5>

      <br>
      <div class="bg-warning text-primary form-group col-md-12">
        <h5>BILL TO:</h5>
        <h6>Name: <strong>{{the_user.user.first_name}} {{the_user.user.last_name}}</strong></h6>
        <h6>State: <strong>{{the_user.state}}</strong></h6>
        <h6>City: <strong>{{the_user.city}}</strong></h6>
        <h6>Address: <strong>{{the_user.address}}</strong></h6>
      </div>
      <div class="bg-light text-primary form-group col-md-12">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>DATE ORDERED</th>
                <th>ORDER ID</th>
                <th>DESCRIPTION</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              {% for each in that %}
                <tr class="table-light">
                  <th>{{each.date_Ordered}}</th>
                  <td>{{each.order_Id}}</td>
                  <td>{{each.product}}</td>
                  <td>₦{{each.product.price|intcomma}}</td>
                  <td>{{each.quantity}}</td>
                  <td>₦{{each.total_Price|intcomma}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-8">
            </div>
            <div class="bg-warning text-primary form-group col-md-4">
              <strong>TOTAL = ₦{{tot|intcomma}}</strong>
            </div>
          </div>
      </div>
</section>
{% endblock content%}
