{% extends 'base.html' %}
{% load humanize %}

{% block title %}
  <title>Orders' History</title>
{% endblock title %}

{% block content %}
{% load home_tags %}
  <br>
<div class="sidebar">
    <br>
    <br>
    <br>
    <br>
  <a href="{% url 'edit_profile' %}"><i></i>Edit Profile</a>
  <a href="{% url 'orders' %}"><i></i><strong class="text-warning">Orders History</strong></a>
  <a href="{% url 'tracks' %}"><i></i>Track Delivery</a>
  <a href="{% url 'products:fund' %}"><i class=""></i>Fund Wallet</a>
  <a href="{% url 'wallet_history' %}"><i class=""></i>Wallet History</a>
  <a href="{% url 'invoices' %}"><i class=""></i>Invoice</a>

</div>
  <section class="main">
    {% include 'partials/_alerts.html' %}

    {% if productorders_page_obj %}
    <h4 class="text-center">Search Orders' History by One or Many Fields</h4>
    <div class="col-md-12">
      <div class="box-element bg-warning" id="form-wrapper">
        <form method="get" class="form-inline text-dark">
          {% for field in filtered_productorders.form %}
            <strong>{{field.label}}:</strong>&nbsp{{field}}&nbsp&nbsp
          {% endfor %}
          <input type="submit" class="btn btn-dark" value="Sort">
        </form>
      </div>
    </div>
    {% endif %}
    <br>
    <div class="row text-center">
      {% if productorders_page_obj %}
        <div class="col-md-12">
          <div class="form-group col-md-12">
            <h3 class="form-group">Total Orders: {{total_productorders}}</h3>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>DATE ORDERED</th>
                  <th>ID</th>
                  <th>TOTAL</th>
                  <th>ORDER STATUS</th>
                  <th>PAYMENT STATUS</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for product_order in productorders_page_obj %}
                {% if product_order.order_Status == "Delivered" and product_order.payment_Status == "Unconfirmed" %}
                  <tr class="table-success">
                    <td>{{product_order.date_Ordered}}</td>
                    <td>{{product_order.order_Id}}</td>
                    <td>₦{{product_order.get_total_cost|intcomma}}</td>
                    <td>{{product_order.order_Status}}</td>
                    <td>{{product_order.payment_Status}}</td>
                    <td><s>Edit Delivery Info</s></td>
                    <td><s>Delete Order</s></td>
                    <td><a href="{% url 'show_product' product_order.id %}"><button type="button" class="btn btn-sm btn-warning"><strong>Checkout</strong></button></a></td>
                  </tr>
                {% elif product_order.order_Status == "Delivered" and product_order.payment_Status == "Confirmed" %}
                  <tr class="table-success">
                    <td>{{product_order.date_Ordered}}</td>
                    <td>{{product_order.order_Id}}</td>
                    <td>₦{{product_order.get_total_cost|intcomma}}</td>
                    <td>{{product_order.order_Status}}</td>
                    <td>{{product_order.payment_Status}}</td>
                    <td><s>Edit Delivery Info</s></td>
                    <td><s>Delete Order</s></td>
                    <td><s>Checkout</s></td>
                  </tr>
                {% elif product_order.order_Status == "Delivered" and product_order.payment_Status == "Unconfirmed" %}
                  <tr class="table-success">
                    <td>{{product_order.date_Ordered}}</td>
                    <td>{{product_order.order_Id}}</td>
                    <td>₦{{product_order.get_total_cost|intcomma}}</td>
                    <td>{{product_order.order_Status}}</td>
                    <td>{{product_order.payment_Status}}</td>
                    <td><s>Edit Delivery Info</s></td>
                    <td><s>Delete Order</s></td>
                    <td><a href="{% url 'show_product' product_order.id %}"><button type="button" class="btn btn-sm btn-warning"><strong>Checkout</strong></button></a></td>
                  </tr>
                {% elif product_order.order_Status == "Delivered" and product_order.payment_Status == "Confirmed" %}
                  <tr class="table-success">
                    <td>{{product_order.date_Ordered}}</td>
                    <td>{{product_order.order_Id}}</td>
                    <td>₦{{product_order.get_total_cost|intcomma}}</td>
                    <td>{{product_order.order_Status}}</td>
                    <td>{{product_order.payment_Status}}</td>
                    <td><s>Edit Delivery Info</s></td>
                    <td><s>Delete Order</s></td>
                    <td><s>Checkout</s></td>
                  </tr>
                {% elif product_order.order_Status == "Out for Delivery" and product_order.payment_Status == "Unconfirmed" %}
                  <tr class="table-warning">
                    <td>{{product_order.date_Ordered}}</td>
                    <td>{{product_order.order_Id}}</td>
                    <td>₦{{product_order.get_total_cost|intcomma}}</td>
                    <td>{{product_order.order_Status}}</td>
                    <td>{{product_order.payment_Status}}</td>
                    <td><a href="orders/product/update/{{product_order.id}}"><button type="button" class="btn btn-sm btn-info"><strong>Edit Delivery Info</strong></button></a></td>
                    <td><s>Delete Order</s></td>
                    <td><a href="{% url 'show_product' product_order.id %}"><button type="button" class="btn btn-sm btn-warning"><strong>Checkout</strong></button></a></td>
                  </tr>
                {% elif product_order.order_Status == "Out for Delivery" and product_order.payment_Status == "Confirmed" %}
                  <tr class="table-warning">
                    <td>{{product_order.date_Ordered}}</td>
                    <td>{{product_order.order_Id}}</td>
                    <td>₦{{product_order.get_total_cost|intcomma}}</td>
                    <td>{{product_order.order_Status}}</td>
                    <td>{{product_order.payment_Status}}</td>
                    <td><a href="orders/product/update/{{product_order.id}}"><button type="button" class="btn btn-sm btn-info"><strong>Edit Delivery Info</strong></button></a></td>
                    <td><s>Delete Order</s></td>
                    <td><s>Checkout</s></td>
                  </tr>
                  {% elif product_order.order_Status == "Out for Delivery" and product_order.payment_Status == "Unconfirmed" %}
                    <tr class="table-warning">
                      <td>{{product_order.date_Ordered}}</td>
                      <td>{{product_order.order_Id}}</td>
                      <td>₦{{product_order.get_total_cost|intcomma}}</td>
                      <td>{{product_order.order_Status}}</td>
                      <td>{{product_order.payment_Status}}</td>
                      <td><a href="orders/product/update/{{product_order.id}}"><button type="button" class="btn btn-sm btn-info"><strong>Edit Delivery Info</strong></button></a></td>
                      <td><s>Delete Order</s></td>
                      <td><a href="{% url 'show_product' product_order.id %}"><button type="button" class="btn btn-sm btn-warning"><strong>Checkout</strong></button></a></td>
                    </tr>
                {% elif product_order.order_Status == "Out for Delivery" and product_order.payment_Status == "Confirmed" %}
                  <tr class="table-warning">
                    <td>{{product_order.date_Ordered}}</td>
                    <td>{{product_order.order_Id}}</td>
                    <td>₦{{product_order.get_total_cost|intcomma}}</td>
                    <td>{{product_order.order_Status}}</td>
                    <td>{{product_order.payment_Status}}</td>
                    <td><a href="orders/product/update/{{product_order.id}}"><button type="button" class="btn btn-sm btn-info"><strong>Edit Delivery Info</strong></button></a></td>
                    <td><s>Delete Order</s></td>
                    <td><s>Checkout</s></td>
                  </tr>
                {% elif product_order.order_Status == "New" and product_order.payment_Status == "Unconfirmed" %}
                  <tr class="table-danger">
                    <td>{{product_order.date_Ordered}}</td>
                    <td>{{product_order.order_Id}}</td>
                    <td>₦{{product_order.get_total_cost|intcomma}}</td>
                    <td>{{product_order.order_Status}}</td>
                    <td>{{product_order.payment_Status}}</td>
                    <td><a href="orders/product/update/{{product_order.id}}"><button type="button" class="btn btn-sm btn-info"><strong>Edit Delivery Info</strong></button></a></td>
                    <td><a href="orders/product/delete/{{product_order.id}}"><button type="button" class="btn btn-sm btn-danger"><strong>Delete Order</strong></button></a></td>
                    <td><a href="{% url 'show_product' product_order.id %}"><button type="button" class="btn btn-sm btn-warning"><strong>Checkout</strong></button></a></td>
                  </tr>
                {% elif product_order.order_Status == "New" and product_order.payment_Status == "Confirmed" %}
                  <tr class="table-danger">
                    <td>{{product_order.date_Ordered}}</td>
                    <td>{{product_order.order_Id}}</td>
                    <td>₦{{product_order.get_total_cost|intcomma}}</td>
                    <td>{{product_order.order_Status}}</td>
                    <td>{{product_order.payment_Status}}</td>
                    <td><a href="orders/product/update/{{product_order.id}}"><button type="button" class="btn btn-sm btn-info"><strong>Edit Delivery Info</strong></button></a></td>
                    <td><s>Delete Order</s></td>
                    <td><s>Checkout</s></td>
                  </tr>
                {% elif product_order.order_Status == "New" and product_order.payment_Status == "Unconfirmed" %}
                  <tr class="table-danger">
                    <td>{{product_order.date_Ordered}}</td>
                    <td>{{product_order.order_Id}}</td>
                    <td>₦{{product_order.get_total_cost|intcomma}}</td>
                    <td>{{product_order.order_Status}}</td>
                    <td>{{product_order.payment_Status}}</td>
                    <td><a href="orders/product/update/{{product_order.id}}"><button type="button" class="btn btn-sm btn-info"><strong>Edit Delivery Info</strong></button></a></td>
                    <td><a href="orders/product/delete/{{product_order.id}}"><button type="button" class="btn btn-sm btn-danger"><strong>Delete Order</strong></button></a></td>
                    <td><a href="{% url 'show_product' product_order.id %}"><button type="button" class="btn btn-sm btn-warning"><strong>Checkout</strong></button></a></td>
                  </tr>
                {% elif product_order.order_Status == "New" and product_order.payment_Status == "Confirmed" %}
                  <tr class="table-danger">
                    <td>{{product_order.date_Ordered}}</td>
                    <td>{{product_order.order_Id}}</td>
                    <td>₦{{product_order.get_total_cost|intcomma}}</td>
                    <td>{{product_order.order_Status}}</td>
                    <td>{{product_order.payment_Status}}</td>
                    <td><a href="orders/product/update/{{product_order.id}}"><button type="button" class="btn btn-sm btn-info"><strong>Edit Delivery Info</strong></button></a></td>
                    <td><s>Delete Order</s></td>
                    <td><s>Checkout</s></td>
                  </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                {% if productorders_page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="{% my_url productorders_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{productorders_page_obj.previous_page_number}}</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="{% my_url productorders_page_obj.number 'page' request.GET.urlencode %}">{{productorders_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                {% if productorders_page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="{% my_url productorders_page_obj.next_page_number 'page' request.GET.urlencode %}">{{productorders_page_obj.next_page_number}}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="{% my_url productorders_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
              </ul>
            </nav>
          </div>
        </div>
      {% else %}
      <div class="container">
        <h3>No order found!</h3>
      </div>

      {% endif %}
    </div>
  </section>



{% endblock content%}
