{% extends 'base.html' %}

{% block title %}
  <title>Password Reset Completed</title>
{% endblock title %}

{% block content %}
<br>
<div class="d-flex justify-content-center">
  <div class="text-center card bg-primary text-light form-group col-md-9">
    <br>
    <p class="lead">
      <strong>
        Your password has been successfully reset. You may go ahead and <a href="{% url 'login' %}"><span class="text-warning">log in</span></a> now
      </strong>
    </p>
    <br>
  </div>
</div>

{% endblock content%}
