{% extends 'base.html' %}

{% block title %}
  <title>Password Reset Sent</title>
{% endblock title %}

{% block content %}
<br>
<div class="d-flex justify-content-center">
  <div class="text-center card bg-warning text-primary form-group col-md-9">
    <p class="lead">
      <strong>
        We have sent you an email with instructions on how to reset your password.
        If you do not receive it in your inbox, then it means you did not enter your registered
        email or the message might have been sent to your spam folder.
      </strong>
    </p>
  </div>
</div>

{% endblock content%}
