{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{user.username}}</title>
{% endblock title %}

{% block content %}
{% if user.role == "Staff" %}
  <br>
<div class="sidebar">
<a href="{% url 'staff_board_first' %}"><strong class="text-orange"><i class="fas fa-tachometer-alt fa-1x"></i> Dashboard</strong></a>
<a href="{% url 'profile_staff_first' %}"><i class="fas fa-user-tie fa-1x"></i> Profile</a>
<a href="{% url 'staff_students_first' %}"><i class="fas fa-users fa-1x"></i> Students</a>
<a href="{% url 'firsts' %}"><i class="fas fa-signal fa-1x"></i> Scores</a>
<a href="{% url 'firsts2' %}"><i class="fas fa-puzzle-piece fa-1x"></i> Attitude/Skills</a>
<a href="{% url 'firsts3' %}"><i class="fas fa-print fa-1x"></i> Report Sheets</a>

</div>
  <section class="main">
    {% include 'partials/_alerts.html' %}
    <h2 class="text-center">Welcome to your dashboard, <span class="text-orange"><strong><i>{{user.first_name}}</i></strong></span>. Navigate through the dashboard using the left panel</h2>
    <br>
    <div class="row">
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-orange mb-3">
            <div class="card-header bg-primary">
              <h4 class="card-title text-light"><i class="fas fa-sitemap fa-2x text-orange"></i> Subjects I am teaching: <span class="text-orange">{{subjects}}</span></h4>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{sub1}}<br>{{sub2}}<br>{{sub3}}<br>{{sub4}}<br>{{sub5}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-orange mb-3">
            <div class="card-header bg-primary">
              <h4 class="card-title text-light"><i class="fas fa-user-tie fa-2x text-orange"></i> Where I am class teacher: <span class="text-orange">{{classes}}</span></h4>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{cla1}}<br>{{cla2}}<br>{{cla3}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-orange mb-3">
            <div class="card-header bg-primary">
              <h4 class="card-title text-light"><i class="fas fa-users fa-2x text-orange"></i> Students in my score sheet: <span class="text-orange">{{studs}}</span></h4>
            </div>
            <div class="card-body">
              <h3 class="card-title">
                <span class="text-primary"><i class="fas fa-award fa-1x"></i> Outstanding</span><br>
                <span class="text-primary">1st:</span> {{fir}}<br>
                <span class="text-primary">2nd:</span> {{sec}}<br>
                <span class="text-primary">3rd:</span> {{thi}}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>



  </section>
  {% endif %}

{% endblock content%}
