{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{user.username}}</title>
{% endblock title %}

{% block content %}
{% if user.role == "Student" %}
  <br>
<div class="sidebar">
<a href="{% url 'student_board_first' %}"><strong class="text-orange"><i class="fas fa-tachometer-alt fa-1x"></i> Dashboard</strong></a>
<a href="{% url 'profile_student_first' %}"><i class="fas fa-user-circle fa-1x"></i> Profile</a>
<a href="{% url 'firsts_user' %}"><i class="fas fa-receipt fa-1x"></i> Scores' Progress</a>
<a href="{% url 'firsts3_user' %}"><i class="fas fa-print fa-1x"></i> Report Sheets</a>

</div>
  <section class="main">
    {% include 'partials/_alerts.html' %}
    <h2 class="text-center">Welcome to your dashboard, <span class="text-orange"><strong><i>{{user.first_name}}</i></strong></span>. Navigate through the dashboard using the left panel</h2>
    <br>
    <div class="row">
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-orange mb-3">
            <div class="card-header bg-primary">
              <h4 class="card-title text-light"><i class="fas fa-id-badge fa-2x text-orange"></i> My current class</h4>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{my_class}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-orange mb-3">
            <div class="card-header bg-primary">
              <h4 class="card-title text-light"><i class="fas fa-chalkboard-teacher fa-2x text-orange"></i> My class teacher</h4>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{my_teacher}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col-md">
          <div class="card text-center text-orange mb-3">
            <div class="card-header bg-primary">
              <h4 class="card-title text-light"><i class="fas fa-users fa-2x text-orange"></i> Students in our class</h4>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{studs}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>



  </section>
  {% endif %}
{% endblock content%}
