{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  <title>Pupil's Report</title>
  <style type="text/css">
  @media print {
      #printbtn {
          display :  none;
      }
  }
  </style>
{% endblock title %}

{% block content %}
{% for each in first %}
{% if each.pupil.user == request.user and each.school_fees == True %}

<form class="text-center">
  <input id ="printbtn" type="button" class="btn btn-primary" value="Click to show print preview" onclick="window.print();" >
</form> <br>
<div class="text-center">
  <div class="card bg-white text-dark form-group col-md-12 ml-1">
    <div class="row">
      <div class="col-md-2">
        <h5 class="text-right"><img src="{% static 'img/logo.jpg' %}" alt="Umar School Logo" class="logo2"></h5>
      </div>
      <div class="col-md-8">
        <h2 class="text-center text-primary"><font size="+3"><strong>مركز عمر بن الخطاب لدراسة القرآن الكريم واللغة العربية</strong></font></h2>
        <h3 class="text-center text-primary p1"><strong>UMAR BN L KHATTOB CENTRE FOR QUR'ANIC AND ARABIC STUDIES</strong></h3>
        <strong><p class="text-center text-primary">ABAA AREA, SUURULERE NORTH L.G.A., OGBOMOSHO, OYO STATE, NIGERIA.</p></strong>
        <p class="text-center text-primary"><strong class="text-primary">MOTTO: QUR'AN IS OUR HONOUR</p></strong>
      </div>
      <div class="col-md-1 mt-4">
        {% if each.pupil.photograph %}
          <h5 class="text-left"><img src="{{ each.pupil.photograph.url }}" alt="pupil's Photograph" class="logo3"></h5>
        {% endif %}
      </div>
      <div class="col-md-1">

      </div>
    </div>

    <h3 class="text-center text-primary p1"><strong>REPORT SHEET (كشف الدرجات)</strong></h3>
    <div class="row">
      <div class="col-md-6">
        <h6 class="text-primary text-left"><strong>Name <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue">{{each.pupil.user.first_name}} {{each.pupil.user.last_name}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> الإسم</strong></h6>
        <h6 class="text-primary text-left"><strong>Term <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue">First</span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> الفترة</strong></h6>
        <h6 class="text-primary text-left"><strong>Term Ends <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue">{{each.session.ends}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> نهاية الفترة</strong></h6>
        <h6 class="text-primary text-left"><strong>Position <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue">{{pos}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> الترتيب</strong></h6>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-4">
        <h6 class="text-primary text-left"><strong>Sex <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue">{{each.pupil.gender}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> الجنس</strong></h6>
        <h6 class="text-primary text-left"><strong>Class <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue">{{each.pupil.classe}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> الفصل</strong></h6>
        <h6 class="text-primary text-left"><strong>Next Term Begins <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue">{{each.session.next}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> بداية الفترة الجديدة</strong></h6>
        <h6 class="text-primary text-left"><strong>Number in Class <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue">{{class_pupils_count}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> عدد الطلاب في الفصل</strong></h6>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <thead class="thead-light">
              <tr>
                <th class="text-center text-primary"><strong>S/N</strong></th>
                <th class="text-center text-primary"><strong>الموضوع <br> SUBJECT</strong></th>
                <th class="text-center text-primary">الإختبار <br> TEST 40%</th>
                <th class="text-center text-primary">الإمتحان <br> EXAM 60%</th>
                <th class="text-center text-primary">المجموع <br> TOTAL 100%</th>
                <th class="text-center text-primary">التعليق <br> REMARK</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light">
                <td class="text-light_blue text-center">1</td>
                <td class="text-light_blue text-center"><strong> القرآن الكريم <br> AL-QURAN</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.quran_ca}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.quran_exam}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.quran_tot}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.grade_quran}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-light_blue text-center">2</td>
                <td class="text-light_blue text-center"><strong>التجويد <br> AT-TAJWEED </strong></td>
                <td class="text-light_blue text-center"><strong>{{each.tajweed_ca}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.tajweed_exam}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.tajweed_tot}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.grade_tajweed}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-light_blue text-center">3</td>
                <td class="text-light_blue text-center"><strong>المطالعة <br> AL-MUTAALAAH</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.mutoolaah_ca}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.mutoolaah_exam}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.mutoolaah_tot}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.grade_mutoolaah}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-light_blue text-center">4</td>
                <td class="text-light_blue text-center"><strong>العربية <br> AL-ARABIYYAH</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.arabiyyah_ca}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.arabiyyah_exam}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.arabiyyah_tot}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.grade_arabiyyah}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-light_blue text-center">5</td>
                <td class="text-light_blue text-center"><strong>النحو <br> AN-NAHW</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.nahw_ca}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.nahw_exam}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.nahw_tot}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.grade_nahw}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-light_blue text-center">6</td>
                <td class="text-light_blue text-center"><strong> التوحيد <br> AT-TAUHEED</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.tawheed_ca}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.tawheed_exam}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.tawheed_tot}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.grade_tawheed}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-light_blue text-center">7</td>
                <td class="text-light_blue text-center"><strong> الفقه <br> AL-FIQH</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.fiqh_ca}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.fiqh_exam}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.fiqh_tot}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.grade_fiqh}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-light_blue text-center">8</td>
                <td class="text-light_blue text-center"><strong>السيرة <br> AS-SEERAH</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.seerah_ca}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.seerah_exam}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.seerah_tot}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.grade_seerah}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-light_blue text-center">9</td>
                <td class="text-light_blue text-center"><strong> الحديث <br> AL-HADEETH</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.hadeeth_ca}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.hadeeth_exam}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.hadeeth_tot}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.grade_hadeeth}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-light_blue text-center">10</td>
                <td class="text-light_blue text-center"><strong>الإملاء <br> AL-IMLAA</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.imlaa_ca}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.imlaa_exam}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.imlaa_tot}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.grade_imlaa}}</strong></td>
              </tr>
              <tr class="table-light">
                <td class="text-light_blue text-center">11</td>
                <td class="text-light_blue text-center"><strong>الخط العربي <br> AL-KHATUL-ARABIYY</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.khot_ca}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.khot_exam}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.khot_tot}}</strong></td>
                <td class="text-light_blue text-center"><strong>{{each.grade_khot}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-7">
          <strong> <p class="text-primary text-left">Final Total <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue"><i class="p3">{{each.cumulative}}</i></span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> المجموع النهائي</p></strong>
        </div>
        <div class="col-md-5">
          <strong> <p class="text-primary text-left">Average <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue">{{each.cum_perc}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> النسبة الماوية</p></strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <strong> <p class="text-primary text-left">Class Teacher's Comment <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue"><i class="p3">{{each.teacher_comment}}</i></span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> تعليق المدرس</p></strong>
        </div>
        <div class="col-md-5">
          <strong> <p class="text-primary text-left">Name <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue">{{each.pupil.classe.teacher}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> الإسم</p></strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <strong> <p class="text-primary text-left">Head Master's Comment <u><span class="text-light_blue"><i class="p3">{{each.head_comment}}</i></span></u> تعليق المدير</p></strong>
        </div>
        <div class="col-md-5">
          <strong> <p class="text-primary text-left">Name <u>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-light_blue">{{each.session.head}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp</u> الإسم</p></strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <strong> <p class="text-primary text-right">Stamp/Signature (التوقيع/الختم):  </p></strong>
        </div>
        <div class="col-md-3">
          {% if each.session.school %}
            <sup><p class="text-left"><img src="{{each.session.school.url}}" alt="Al-Itqan stamp" class="sig2"></p></sup>
          {% endif %}
        </div>

      </div>

      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          <strong> <p class="text-primary text-right">Date (التاريخ): </p></strong>
        </div>
        <div class="col-md-3">
          <p class="text-left text-light_blue"><strong>{{each.updated}}</strong></p>
        </div>

      </div>

    </div>
  </div>
{% else %}
  <h2 class="text-center">Access Restricted!</h2>
  <br>
{% endif %}
{% endfor %}
{% endblock content%}
